---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="flex justify-between w-full items-start mb-1.5">
    <div class="flex flex-col gap-0.5">
      <h2 class="m-0">Now</h2>
      <a href="https://sive.rs/nowff" target="_blank">
        <span class="text-xs text-gray-500 cursor-pointer">what's that ?</span>
      </a>
    </div>
    <Pulse />
  </div>
  <p class="text-xs">
    Building APIs and business-ready web apps, while refining UI/UX for cleaner
    and more maintainable product experiences.
  </p>
</Card>
