---
import { getCurrentTimeInItaly, formatTimeForPH } from "../lib/helpers";
import Card from "./Card/index.astro";
---

<script>
  import { onCleanup, onMount } from "solid-js";
  import { formatTimeForPH } from "../lib/helpers";

  let interval: ReturnType<typeof setInterval>;

  function updateClock() {
    const timeDisplay = document.getElementById("timeDisplay");
    const now = new Date();

    if (timeDisplay) {
      timeDisplay.textContent = formatTimeForPH(now);
      timeDisplay.setAttribute("datetime", now.toISOString());
    }
  }

  onMount(() => {
    interval = setInterval(updateClock, 1000);
  });

  onCleanup(() => {
    clearInterval(interval);
  });
</script>

<Card colSpan="lg:col-span-1" rowSpan="md:row-span-1" title="Time zone">
  <div class="flex h-full min-h-[98px] flex-col items-center justify-center gap-1 text-center">
    <span class="text-xs uppercase tracking-[0.15em] text-gray-400">Local Time</span>
    <time
      datetime=""
      id="timeDisplay"
      class="text-xl md:text-2xl font-serif leading-none"
    >
      {formatTimeForPH(getCurrentTimeInItaly())}
    </time>
  </div>
</Card>
